extends layout.pug

block body
    header
        div.wrapper
            h1.header-title #{model.header.title}
            img.header-photo(src=model.header.photo.src, alt=model.header.photo.altText)
            p.header-content #{model.header.content}
            ul.header-profiles
                each profile in model.header.profiles
                    li.header-profile 
                        a(href=profile.url)
                            i(class="fa " + profile.icon, aria-hidden="true")
                            span #{profile.name}

                
    main
        div.hero

        div#skills
            each topic, index in model.topics
                - var highlight= model.highlights[index];
                include partials/topic.pug               
                include partials/highlight.pug
                    

